
body{
    background: #8999A8
}

.nav li:hover{
    background-color: #9FCA3C
}

h2, h3, h4{
  text-align: center
}

.box{
  width:500px;
  margin: 0 auto
}

.area{
  width: 600px;
  margin: 0 auto;
  height: auto;
  margin-top: 50px;
  background-color: gray;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right:30px
}

table tr td{
  padding: 6px 2px
}

h3{
  color: #fff
}

.box input.bgc{
  color: #fff;
  background-color: #000;
  font-weight: 500
}